# Node
node_modules
npm-debug.log*
pnpm-debug.log*

# Next
.next
out
dist

# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*

# Env
.env
.env.local
.env.*.local

# Mac / OS
.DS_Store

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Misc
*.swp
coverage
